@import "tailwindcss";

.dropSign {
    position: absolute;
}

.dropdown {
  position: absolute;
  right: 20px;
  margin-top: 19rem;
  
  width: 220px;
  background: #000;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  border: 1px solid #333;
  z-index: 100;
}
.dropdown-content {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown-profile {
  display: flex;
  align-items: center;
  padding: 16px 16px 12px 16px;
  border-bottom: 1px solid #222;
}
.dropdown-avatar {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  margin-right: 12px;
}
.dropdown-item {
  padding: 12px 16px;
  cursor: pointer;
  color: #fff;
  transition: background 0.2s;
}
.dropdown-item:hover {
  background: #222;
}
.dropdown-divider {
  border-top: 1px solid #222;
  margin: 0 16px;
}